.spinner {
  border-top: 3px solid lightseagreen;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 56%;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: rotate 1s ease-in-out;
  animation-iteration-count: infinite;
  z-index: 10;
  @media (max-width: 768px) {
    left: 50%;
  }
}

.display-none {
  display: none;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}