
@import './channel_list';
@import './message_list';
@import './spinner';

body {
  font-family: Helvetica;
}
.app {
  background-color: #DBDBDB;
  height: 100vh;
  display: flex;
}

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.logo {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 50%;
  background-color: rgb(40, 40, 40);
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  @media(max-width: 768px) {
    top: initial;
    bottom: 10px;
    left: 42px;
  }
}
